<%= form_with(model: @task, local: true, url:choose_new_or_edit ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあるよ</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="mt-3"><%= form.label :title %></div>
    <div><%= form.text_field :title %></div>

    <div class="mt-3"><%= form.label :detail %></div>
    <div><%= form.text_area :detail %></div>

    <div class="mt-3"><%= form.label :expired_at %></div>
    <div><%= form.date_select :expired_at %></div>

    <div class="mt-3"><%= form.label :status %></div>
    <%= form.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]} %>
    
    <div class="mt-3"><%= form.label :priority %></div>
    <%= form.select :priority, Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k]} %>

  <div class="mt-3"><%= form.submit %></div>
<% end %>
