<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <h4 class="mb-3">確認画面</h4>
  <p><strong>タスク名:&ensp;</strong>
    <%= form.hidden_field :title %>
    <%= @task.title %></p>
  
  <p><strong>詳細:&ensp;</strong>
    <%= form.hidden_field :detail %>
    <%= @task.detail %></p>
  
  <p><strong>終了期限:&ensp;</strong>
    <%= form.hidden_field :expired_at %>
    <%= l @task.expired_at, format: :date_only %></p>
  
  <p><strong>ステータス:&ensp;</strong>
    <%= form.hidden_field :status %>
    <%= @task.status_i18n %></p>
  
  <p><strong>優先度:&ensp;</strong>
    <%= form.hidden_field :priority %>
    <%= @task.priority_i18n %></p>

  <p><strong>ラベル:&ensp;</strong>
    <% @task.labels.each do |label| %>
    <%= form.hidden_field :label_ids, multiple: true, value: label.id %>
    <span class ="badge bg-secondary text-light m-1"><%= label.name %></span>
    <% end %>
  </p>
  
  <div class="mt-1">
    <%= form.submit %>
  </div>

  <div class="mt-2">
    <%= form.submit "戻る", name: "back" %>
  </div>
<% end %>