<h3>タスク一覧</h3>

<p><%= notice %></p>

<div class="row">
  <%= form_with url: tasks_path, method: :get, local: true do |form| %>
  <div class="col">タスク名<%= form.text_field :search, class: "col-xs-4 m-3", placeholder: "検索" %>
  ステータス<%= form.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]}, { include_blank: "指定なし" }, class: "m-3" %>
  <%= form.submit '検索', name: nil %></div>
<% end %>
</div>

<div><%= link_to '新規登録', new_task_path, type: "button", class: "btn btn-primary mb-3" %></div>

<table class="table">
  <thead>
    <tr>
      <th class="col-1">タスク名</th>
      <th class="col-1">詳しい内容</th>
      <th class="col-1"><%= link_to "終了期限▼", tasks_path(sort_expired: "true") %></th>
      <th class="col-1">登録日時</th>
      <th class="col-1">ステータス</th>
      <th class="col-1"><%= link_to "優先度▼", tasks_path(sort_priority: "true") %></th>
      <th class="col-2" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task_row"><%= task.title %></td>
        <td><%= task.detail %></td>
        <td><%= l task.expired_at, format: :date_only %></td>
        <td><%= l task.created_at, format: :short %></td>
        <td><%= task.status_i18n %></td>
        <td><%= task.priority_i18n %></td>
        <td><%= link_to '詳細', task_path(task.id), type: "button", class: "btn btn-outline-primary" %></td>
        <td><%= link_to '編集', edit_task_path(task.id), type: "button", class: "btn btn-outline-success" %></td>
        <td><%= button_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除しますか?' }, type: "button", class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>



