<h1><%= @user.name %></h1>

<p>メールアドレス:<%= @user.email%></p>
<br>
<% if @current_user.admin?%>
  <%= link_to '管理者権限', admin_users_path %>
<% end %>

<h3><%= @user.email %>のタスク</h3>
<table>
  <thead>
    <tr>
      <th class="col-1">作成者</th>
      <th class="col-2">タスク名</th>
      <th class="col-1"><%= link_to "終了期限▼", tasks_path(sort_expired: "true") %></th>
      <th class="col-1">登録日時</th>
      <th class="col-1">ステータス</th>
      <th class="col-1"><%= link_to "優先度▼", tasks_path(sort_priority: "true") %></th>
      <th class="col-1">ラベル</th>
      <th class="col-2" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |task| %>
      <tr>
        <td><%= task.user.name %></td>
        <td class="task_row"><%= task.title %></td>
        <td><%= l task.expired_at, format: :date_only %></td>
        <td><%= l task.created_at, format: :short %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td>
        <% task.labels.each do |label| %>
          <span class ="badge bg-secondary text-light m-1"><%= label.name %></span>
        <% end %>
        </td>
        <td><%= link_to '詳細', task_path(task.id), type: "button", class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to '編集', edit_task_path(task.id), type: "button", class: "btn btn-outline-success btn-sm" %></td>
        <td><%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除しますか?' }, type: "button", class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  
  <%= link_to '新規登録', new_task_path %>


