<h4>ラベル編集画面</h4>

<%= form_with(model: @label, local: true, url: admin_label_path) do |form| %>
  <% if @label.errors.any? %>
    <div id="error_explanation">
      <h2><%= @label.errors.count %>件のエラーがあるよ</h2>
      <ul>
      <% @label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-3"><%= form.label :name %></div>
  <div><%= form.text_field :name %></div>

  <%= form.submit %>
<% end %>

<p><%= link_to '戻る', admin_labels_path%></p>

